.header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 15px;
    padding-top: 15px;
    border-bottom: var(--secondary-grey) solid 1px;
    background-color: var(--global-background);
    position: sticky;
    top: 0px;
}

.button-and-title-container {
    display: flex;
    flex-direction: row;

    & .back-icon {
        font-size: var(--font-size-header);
        padding-right: 15px;
    }

    & .primary-title {
        display: flex;
        flex-direction: column;

        & .title {
            font-size: var(--font-size-header);
            font-weight: bold;
        }

        & .subtitle {
            font-size: var(--font-size-small);
            color: var(--primary-grey);
        }

    }
}

.balance-and-options-container {
    display: flex;

    & .balance-container {
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        & .balance {
            font-size: var(--font-size-header);
        }

        & .available-balance {
            color: var(--global-accent);
        }

        & .currency {
            font-size: var(--font-size-small);
            color: var(--primary-grey);
        }
    }

    & .more-options-icon {
        font-size: var(--font-size-header);
        padding-left: 15px;
    }
}