<div class="header">
    <div class="button-and-title-container">
        <mat-icon *ngIf="this.includeBackButton" (click)="this.goBack()" class="back-icon">arrow_back</mat-icon>
        <div class="primary-title">
            <span class="title">{{ this.title }}</span>
            <span class="subtitle">{{ this.subtitle }} </span>
        </div>
    </div>
    <div *ngIf="this.account" class="secondary-title">
        <span [ngClass]="{'available-balance': this.account.attributes.balance.valueInBaseUnits > 0}" class="balance">{{
            this.account.attributes.balance.value |
            currency: '$'
            }}</span>
        <span class="currency">{{ this.currency }}</span>
    </div>
</div>