<div class="header">
    <div class="button-and-title-container">
        <mat-icon *ngIf="this.backButton" (click)="this.goBack()" class="back-icon">arrow_back</mat-icon>
        <div class="primary-title">
            <span class="title">{{ this.title }}</span>
            <span class="subtitle">{{ this.subtitle }} </span>
        </div>
    </div>
    <div *ngIf="this.account" class="balance-and-options-container">
        <div class="balance-container">
            <span class="balance"
                [ngClass]="{'available-balance': this.account.attributes.balance.valueInBaseUnits > 0}">{{
                this.account.attributes.balance.value |
                currency: '$'
                }}</span>
            <span class="currency">{{ this.currency }}</span>
        </div>
        <app-menu></app-menu>
    </div>
</div>