<ion-header mode="md">
    <ion-toolbar>
        <ion-buttons slot="primary">
            <ion-button routerLink="search">
                <ion-icon name="search"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-button>
                <ion-icon name="bar-chart-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>
            {{ account?.attributes?.displayName }}
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-refresher mode="md" slot="fixed" (ionRefresh)="handleRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <app-transactions-list [account]="account" [transactions]="transactions" [nextPageUrl]="nextPageUrl">
    </app-transactions-list>

</ion-content>