<ion-header mode="md">
    <ion-toolbar>
        <ion-buttons slot="primary">
            <ion-button routerLink="search">
                <ion-icon name="search"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-button>
                <ion-icon name="bar-chart-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>
            {{ account?.attributes?.displayName }}
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-refresher mode="md" slot="fixed" (ionRefresh)="handleRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <ion-list>
        <ion-item *ngFor=" let txn of transactions">
            <div>
                <ion-label>
                    {{ txn.attributes.description }}
                </ion-label>
                <ion-label>
                    <ion-text color="medium">
                        {{ txn.attributes.createdAt | date: 'EEE, d MMM'}}
                    </ion-text>
                </ion-label>
            </div>
            <div class="amount-and-balance" slot="end">
                <ion-label>
                    <ion-text [color]="txn.attributes.amount.valueInBaseUnits > 0 ? 'primary' : ''">
                        {{ txn.attributes.amount.value | currency }}
                    </ion-text>
                </ion-label>
                <ion-label>
                    <ion-text color="medium">
                        {{ txn.remainingBalance | currency }}
                    </ion-text>
                </ion-label>
            </div>
        </ion-item>
    </ion-list>

    <ion-infinite-scroll *ngIf="nextPageUrl !== null; else eof" (ionInfinite)="handleScroll($event)">
        <ion-infinite-scroll-content loadingSpinner="crescent">
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>

    <ng-template #eof>
        <div class="ion-text-center ion-margin">
            <ion-label>
                End of transactions
            </ion-label>
        </div>
    </ng-template>
</ion-content>