.date-range,
.amount-range {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 16px;
    margin-right: 16px;
}

.amount-input {
    display: flex;
    align-items: center;
}


ion-input {
    max-width: 100px;
}