.date-range,
.amount-range {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 16px;
    margin-right: 16px;
}


ion-input {
    --highlight-color: var(--ion-color-primary) !important;
}