<ion-header mode="md">
    <form [formGroup]="searchForm">
        <ion-toolbar>
            <ion-buttons slot="start">
                <ion-back-button></ion-back-button>
            </ion-buttons>
            <ion-searchbar class="ion-margin-top" formControlName="query" placeholder="Search Transactions"
                [debounce]="500" mode="ios">
            </ion-searchbar>
        </ion-toolbar>
        <ion-toolbar>
            <div class="date-range">
                <ion-label>
                    From
                </ion-label>
                <ion-datetime-button datetime="datetimeSince"></ion-datetime-button>
                <ion-label>
                    to
                </ion-label>
                <ion-datetime-button datetime="datetimeUntil"></ion-datetime-button>
            </div>
        </ion-toolbar>
        <ion-toolbar>
            <div class="amount-range">
                <ion-input formControlName="fromAmount" placeholder="Any amount" type="number" label="From"></ion-input>
                <ion-input formControlName="toAmount" placeholder="Any amount" type="number" label="to"></ion-input>
            </div>
        </ion-toolbar>

        <ion-modal [keepContentsMounted]="true">
            <ng-template>
                <ion-datetime formControlName="since" id="datetimeSince" presentation="date"
                    [preferWheel]="true"></ion-datetime>
            </ng-template>
        </ion-modal>

        <ion-modal [keepContentsMounted]="true">
            <ng-template>
                <ion-datetime formControlName="until" id="datetimeUntil" presentation="date"
                    [preferWheel]="true"></ion-datetime>
            </ng-template>
        </ion-modal>
    </form>
</ion-header>

<ion-content>

</ion-content>