<div class="chart-container">
    <div class="timeframe-controls">
        <div class="timeframe" [ngClass]="{active: timeframe === timeframeEnum.week}">
            <span (click)="setTimeframe(timeframeEnum.week)">{{
                timeframeEnum.week }}</span>
        </div>
        <div class="timeframe" [ngClass]="{active: timeframe === timeframeEnum.month}">
            <span (click)="setTimeframe(timeframeEnum.month)">{{
                timeframeEnum.month }}</span>
        </div>
        <div class="timeframe" [ngClass]="{active: timeframe === timeframeEnum.year}">
            <span (click)="setTimeframe(timeframeEnum.year)">{{
                timeframeEnum.year }}</span>
        </div>
    </div>
    <div class="period-controls">
        <!-- <mat-icon (click)="previousPeriod()">arrow_back_ios</mat-icon> -->
        <span>{{ since | date: 'd'}}
            {{ since.getMonth() !== until.getMonth() ? (since | date: 'MMMM') : null}} - {{ until | date: 'd
            MMMM'}} {{ timeframe === timeframeEnum.year ? until.getFullYear() : null }}</span>
        <!-- <mat-icon (click)="nextPeriod()">arrow_forward_ios</mat-icon> -->
    </div>
    <div class="period-total">
        <span>{{ periodTotal | currency: '$'}}</span>
    </div>
    <div id="spending-chart"></div>
</div>