.chart-container {
    font-size: var(--font-size-med);
    padding-top: 25px;
}

.timeframe-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 30px;

    & .timeframe {
        padding: 7px;
        border-radius: 20px;
        background-color: var(--global-background);
        transition: background-color 0.5s ease;
    }

    & .active {
        background-color: var(--global-accent-transparent);

    }
}

.period-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 15px;
}

.period-total {
    display: flex;
    justify-content: center;
}

.spending-chart {
    width: 100vw;
}