<ion-content class="ion-padding">

    <div class="welcome">
        <ion-label class="ion-text-center">
            <h1>
                <ion-text color="primary">
                    Welcome!
                </ion-text>
            </h1>
        </ion-label>
    </div>

    <ion-label class="ion-margin-bottom">
        <h2>
            To get started, please enter your personal access token:
        </h2>
    </ion-label>


    <form [formGroup]="tokenForm" (ngSubmit)="onSubmit()">
        <ion-input formControlName="token" label="Up Token:" placeholder="up:yeah:***" fill="">
        </ion-input>

        <ion-button [disabled]="!tokenForm.valid" class="ion-margin-top" type="submit" expand="block">
            Login
        </ion-button>

    </form>

    <div class="help ion-text-center">
        <ion-label>
            Don't have an access token yet?
            <a href="https://api.up.com.au/getting_started">
                click here.
            </a>
        </ion-label>
    </div>

    <ion-toast class="ion-text-cente" [isOpen]="isToastOpen" message="Error validating token" [duration]="5000"
        (didDismiss)="showToast(false)" color="danger">

    </ion-toast>

</ion-content>