<div class="container">
    <app-header [title]="title"></app-header>
    <div *ngIf="accountsData">
        <div *ngFor="let item of accountsData.data">
            <app-account-card [displayName]="item.attributes.displayName"
                [value]="item.attributes.balance.value"></app-account-card>
        </div>
    </div>
    <div>
        <app-button title="Refresh" (click)="refresh()"></app-button>
        <span *ngIf="responseData !== null"> {{ responseData.meta.statusEmoji }} </span>
    </div>
</div>