<ion-content>
    <ion-refresher mode="md" slot="fixed" (ionRefresh)="handleRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <h1 class="ion-padding">
        Accounts
    </h1>

    <ion-card *ngFor="let account of accounts" [routerLink]="account.id">
        <ion-card-content>
            <ion-grid>
                <ion-row class="ion-align-items-center ion-justify-content-between">
                    <ion-col>
                        <ion-text color="dark">
                            <div>
                                {{ account.attributes.displayName }}
                            </div>
                            <div>
                                <ion-text [color]=" account.attributes.balance.valueInBaseUnits> 0 ? 'primary' : ''">
                                    {{ account.attributes.balance.value | currency }}
                                </ion-text>
                            </div>
                        </ion-text>
                    </ion-col>
                    <ion-col size="1">
                        <ion-icon name="chevron-forward" size="large"></ion-icon>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-card-content>
    </ion-card>

    <div class="ion-text-center ion-padding">
        <ion-label>
            <ion-text color="medium">
                Pull to refresh
            </ion-text>
        </ion-label>
        <br>
        <ion-icon color="medium" name="chevron-down"></ion-icon>
    </div>

</ion-content>