.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15vh;

    & .icon {
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--global-accent);
        font-size: 70px;
        padding: 35px;
    }

    & .title {
        padding-top: 10px;
        font-size: var(--font-size-header);
    }

    & .subtitle {
        padding-top: 70px;
        font-size: var(--font-size-med);
    }

    & form {
        display: flex;
        flex-direction: column;
        width: 100%;


        & .form-item {
            padding: 10px;
            margin: 15px;
            /* font-size: var(--font-size-med); */
        }

        & input {
            border: none;
            border-bottom: black solid 1px;

            &:focus {
                outline: none;
            }
        }

        & #submit {
            border: none;
            color: var(--secondary-font-color);
            background-color: var(--global-accent);
            font-size: var(--font-size-med);

            &:active {
                background-color: var(--global-accent-secondary);
            }
        }

    }
}