<div class="title-container">
    <mat-icon class="icon">waving_hand</mat-icon>
    <span class="title">Welcome to One Up!</span>
</div>
<div class="form-container">
    <form #form="ngForm" (ngSubmit)="onSubmit(form)">
        <span class="form-item">Please enter your personal access token</span>
        <input class="form-item" type="text" placeholder="up:yeah:***" name="token" ngModel required #token="ngModel">
        <button class="form-item" id="submit" type="submit">Submit</button>
    </form>
</div>