.card {
    display: flex;
    flex-direction: column;
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: var(--secondary-grey) solid 1px;
}

.account-title {
    font-weight: bold;
    margin-bottom: 5px;
}

.available-balance {
    color: var(--global-accent);
}

.currency-code {
    font-size: var(--font-size-small);
    color: var(--primary-grey);
}