.card {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    padding-top: 12px;
    padding-bottom: 12px;
    border-bottom: var(--secondary-grey) solid 1px;
}

.transaction {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 5px;

    .merchant {
        font-size: var(--font-size-med);
    }

    .transaction-amount {
        font-size: var(--font-size-med);
    }

    .positive-transaction {
        color: var(--global-accent);
    }

}

.details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .status {
        font-size: var(--font-size-small);
    }

    .date {
        font-size: var(--font-size-small);
    }

    .remaining-balance {
        color: var(--primary-grey);
        font-size: var(--font-size-small);
    }
}