<div class="card">
    <div class="transaction">
        <span class="merchant">{{ this.transaction.attributes.description }}</span>
        <span [ngClass]="{'positive-transaction': this.transaction.attributes.amount.valueInBaseUnits > 0}"
            class="transaction-amount">{{
            this.transaction.attributes.amount.value | currency:
            '$' }}</span>
    </div>
    <div class="details">
        <div class="date-and-status">
            <span *ngIf="!this.settledAt" class="status">{{ this.transaction.attributes.status }} </span>
            <span class="date">{{ this.displayDate | date }}</span>
        </div>
        <span class="remaining-balance">{{ this.transaction.remainingBalance | currency: '$' }}</span>
    </div>
</div>