.card {
    display: flex;
    flex-direction: column;
}

.active {
    background-color: var(--tertiary-grey);
}

.transaction {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 12px;
    padding-bottom: 5px;

    .merchant {
        font-size: var(--font-size-med);
    }

    .transaction-amount {
        font-size: var(--font-size-med);
    }

    .positive-transaction {
        color: var(--global-accent);
    }

}

.details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 12px;
    border-bottom: var(--secondary-grey) solid 1px;

    .status {
        font-size: var(--font-size-small);
    }

    .date {
        font-size: var(--font-size-small);
    }


    .remaining-balance {
        color: var(--primary-grey);
        font-size: var(--font-size-small);
    }
}

.active .expanded-details {
    display: flex;
    flex-direction: column;
    font-size: var(--font-size-small);
}

.expanded-details {
    display: none;
}

.expanded-details-item {
    display: flex;
    flex-direction: row;
    padding-top: 5px;
    padding-bottom: 5px;
    justify-content: space-between;
    border-bottom: var(--secondary-grey) solid 1px;
}

.expanded-details-item:last-child {
    padding-bottom: 12px;
}