.card {
    display: flex;
    flex-direction: column;
}

.active {
    background-color: var(--tertiary-grey);
}

.transaction {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 12px;
    padding-bottom: 5px;

    .merchant,
    .transaction-amount {
        font-size: var(--font-size-med);
    }

    .positive-transaction {
        color: var(--global-accent);
    }

}

.details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 12px;
    border-bottom: var(--secondary-grey) solid 1px;

    .status,
    .date,
    .remaining-balance {
        font-size: var(--font-size-small);
    }

    .remaining-balance {
        color: var(--primary-grey);
    }
}

.expanded-details {
    max-height: 0;
    overflow: hidden;
    font-size: var(--font-size-small);
    transition: all 0.2s ease-in-out;
}

.active .expanded-details {
    max-height: 59px
}

.expanded-details-item {
    display: flex;
    justify-content: space-between;
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: var(--secondary-grey) solid 1px;

    &:last-child {
        padding-bottom: 12px;
    }
}