<ion-list>
    <ion-item *ngFor="let txn of filteredTransactions" [routerLink]="['', account?.id, txn.id]" [detail]="false">
        <div>
            <ion-label>
                {{ txn.attributes.description }}
            </ion-label>
            <ion-label>
                <ion-text color="medium">
                    {{ txn.attributes.createdAt | date: 'EEE, d MMM'}}
                </ion-text>
            </ion-label>
        </div>
        <div class="amount-and-balance" slot="end">
            <ion-label>
                <ion-text [color]="txn.attributes.amount.valueInBaseUnits > 0 ? 'primary' : ''">
                    {{ txn.attributes.amount.value | currency }}
                </ion-text>
            </ion-label>
            <ion-label>
                <ion-text color="medium">
                    {{ txn.remainingBalance | currency }}
                </ion-text>
            </ion-label>
        </div>
    </ion-item>
</ion-list>

<ion-infinite-scroll *ngIf="nextPageUrl; else eof" (ionInfinite)="handleScroll($event)">
    <ion-infinite-scroll-content loadingSpinner="crescent">
    </ion-infinite-scroll-content>
</ion-infinite-scroll>

<ng-template #eof>
    <div class="ion-text-center ion-margin">
        <ion-label>
            End of transactions
        </ion-label>
    </div>
</ng-template>