<ion-header mode="md">
    <ion-toolbar>
        <ion-buttons slot="primary">
            <ion-button (click)="toggleSearchBar()">
                <ion-icon name="search"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-button>
                <ion-icon name="ellipsis-vertical"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>
            {{ account?.attributes?.displayName }}
        </ion-title>
    </ion-toolbar>
    <ion-toolbar *ngIf="showSearch">
        <ion-searchbar [debounce]="500" mode="ios" placeholder="Search Transactions" (ionInput)="handleSearch($event)">
        </ion-searchbar>

        <div class="search-date-and-amount ion-padding-bottom">
            <ion-buttons mode="ios">
                <ion-button>
                    <ion-icon name="cash-outline"></ion-icon>
                    Any Amount
                </ion-button>
            </ion-buttons>
            <ion-buttons mode="ios">
                <ion-button>
                    <ion-icon name="calendar"></ion-icon>
                    Any Date
                </ion-button>
            </ion-buttons>
        </div>
        <!-- <ion-toolbar>

            <ion-buttons mode="ios" slot="primary">
                <ion-button>
                    <ion-icon name="cash-outline"></ion-icon>
                    Any Amount
                </ion-button>
            </ion-buttons>
            <ion-buttons mode="ios" slot="">
                <ion-button>
                    <ion-icon name="calendar"></ion-icon>
                    Any Amount
                </ion-button>
            </ion-buttons>
        </ion-toolbar> -->
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item *ngFor=" let txn of displayTransactions">
            <div>
                <ion-label>
                    {{ txn.attributes.description }}
                </ion-label>
                <ion-label>
                    <ion-text color="medium">
                        {{ txn.attributes.createdAt | date: 'EEE, d MMM'}}
                    </ion-text>
                </ion-label>
            </div>
            <div class="amount-and-balance" slot="end">
                <ion-label>
                    <ion-text [color]="txn.attributes.amount.valueInBaseUnits > 0 ? 'primary' : ''">
                        {{ txn.attributes.amount.value | currency }}
                    </ion-text>
                </ion-label>
                <ion-label>
                    <ion-text color="medium">
                        {{ txn.remainingBalance | currency }}
                    </ion-text>
                </ion-label>
            </div>
        </ion-item>
    </ion-list>
    <ion-infinite-scroll (ionInfinite)="loadMoreTransactions($event)">
        <ion-infinite-scroll-content [loadingText]="scrollEndMessage" [loadingSpinner]="scrollEndSpinner">
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>