/* You can add global styles to this file, and also import other style files */
:root {

    /* COLORS */
    --primary-font-color: black;
    --primary-orange: #ff9100;
    --primary-grey: #969696;
    --secondary-grey: #ededed;
    --tertiary-grey: rgba(238, 238, 238, 0.464);
    --global-accent: green;
    --global-background: white;


    /* FONTS */

    --global-font: 'Robot', sans-serif;
    --font-size-header: 26px;
    --font-size-lg: 20px;
    --font-size-med: 17px;
    --font-size-small: 13px;

}

body {
    margin: 0px;
    padding-left: 15px;
    padding-right: 15px;
    font-family: var(--global-font);
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}